.custom-upload {
  display: flex;
  align-items: center;
  gap: 1rem;
  input {
    display: none;
  }
  &__btn {
    cursor: pointer;
  }
  &__label {
    flex: 1 1 0;
    min-width: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    &:empty {
        display: none;
    }
  }
  &__label:empty + &__del {
    display: none;
  }
  &__del {
    font-size: 0.85rem;
    color: red;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}