.title {
    font-family: 'Intro Head R Base', sans-serif;
    font-size: 3.2rem;
    line-height: 120%;
    letter-spacing: 3%;
    font-weight: bold;
    color: $secondaryColor;
    text-transform: uppercase;
}



@media (max-width: 768px) {

}



@media (max-width: 480px) {
    .title {
        font-size: 2.28576rem;
    }
}