html, body {
  scroll-behavior: smooth;
}

img, video {
  max-width: 100%;
}



// .main, .footer {
//   transition: 0.4s filter;
// }

body.block-page {
  overflow: hidden;
}

.nowrap {
  white-space: nowrap;
}