/* Inter Regular */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
       url('../fonts/Inter/Inter-Regular.woff') format('woff'),
       url('../fonts/Inter/Inter-Regular.ttf') format('truetype'),
       url('../fonts/Inter/Inter-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Inter Medium */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
       url('../fonts/Inter/Inter-Medium.woff') format('woff'),
       url('../fonts/Inter/Inter-Medium.ttf') format('truetype'),
       url('../fonts/Inter/Inter-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Inter SemiBold */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
       url('../fonts/Inter/Inter-SemiBold.woff') format('woff'),
       url('../fonts/Inter/Inter-SemiBold.ttf') format('truetype'),
       url('../fonts/Inter/Inter-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Inter Light */
@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Light.woff2') format('woff2'),
       url('../fonts/Inter/Inter-Light.woff') format('woff'),
       url('../fonts/Inter/Inter-Light.ttf') format('truetype'),
       url('../fonts/Inter/Inter-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Intro Head B Base (пример: IntroDemo-BlackCAPS) */
@font-face {
  font-family: 'Intro Head B Base';
  src: url('../fonts/Intro/IntroDemo-BlackCAPS.woff2') format('woff2'),
       url('../fonts/Intro/IntroDemo-BlackCAPS.woff') format('woff'),
       url('../fonts/Intro/IntroDemo-BlackCAPS.ttf') format('truetype'),
       url('../fonts/Intro/IntroDemo-BlackCAPS.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}




html, body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 127.9%;
  color: #000;
}

@media (max-width: 1440px) {
  html, body {
    // font-size: ;
  }
}

@media (max-width: 768px) {
  html, body {

  }
}

@media (max-width: 375px) {
  html, body {

  }
}