// ======================================
// .hero-section
// ======================================
.hero-section {
    position: relative;
    min-height: 45rem;
    display: flex;
    align-items: center;
    &__banner {
        @extend %absolute-fullsize;
        filter: brightness(0.8);
        img {
            @extend %cover-media;
        }
    }
    &__container {
        position: relative;
        z-index: 2;
        padding-top: 12.45rem;
        padding-bottom: 8.95rem;
    }
    &__content {
        max-width: 32.75rem;
    }
    &__title {
        font-size: 3.7rem;
        color: #fff;
    }
    &__text {
        font-size: 1.2rem;
        line-height: 140%;
        color: #fff;
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }
    &__btns {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1.5rem;
        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }
}


@media (max-width: 480px) {
    .hero-section {
        min-height: 41.714rem;
        &__container {
            padding-top: 11.6428rem;
            padding-bottom: 11.6428rem;
        }
        &__content {
            max-width: 22.5rem;
        }
        &__title {
            font-size: 2.5714rem;
        }
        &__text {
            font-size: 1rem;
            line-height: 140%;
            &:not(:first-child) {
                margin-top: 1.07142rem;
            }
        }
        &__btns {
            gap: 1.07142rem;
            &:not(:first-child) {
                margin-top: 1.4259rem;
            }
        }
    }
}




// ======================================
// .shops-section
// ======================================
.shops-section {
    &__container {
        position: relative;
    }
    &__callout {
        pointer-events: none;
        position: absolute;
        top: -11rem;
        right: -24rem;
        width: 35.65rem;
        height: 28.15rem;
        transform: rotate(49deg);
        background: url("data:image/svg+xml,%3Csvg width='713' height='563' viewBox='0 0 713 563' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M6.77424 369.656C-7.71062 404.034 0.796047 451.178 34.5869 467.007C45.7077 472.212 58.2427 473.561 70.5205 473.519C115.946 473.369 160.387 453.62 192.678 421.834C184.535 442.289 180.507 464.394 181.364 486.392C182.178 507.061 188.649 529.787 206.498 540.261C215.391 545.488 225.997 546.923 236.304 547.308C316.163 550.328 393.623 489.155 409.158 410.803C408.965 443.017 408.944 476.196 420.986 506.097C433.028 535.999 460.198 562.173 492.424 562.944C530.736 563.844 562.106 528.331 569.927 490.847C575.969 461.973 571.47 432.415 564.484 403.456C580.384 428.431 620.645 439.933 646.658 421.812C680.492 398.229 682.335 344.103 656.515 311.931C603.182 245.509 551.178 293.724 608.56 193.931C637.059 144.367 669.95 34.9564 712.676 -1.88214e-05C629.881 67.7709 553.428 143.317 484.711 225.311C482.375 190.997 479.782 155.698 464.633 124.811C449.505 93.924 418.564 68.1779 384.195 69.8272C335.812 72.1405 306.092 123.162 290.472 168.978C268.273 98.8077 195.42 48.1508 121.882 51.7707C88.5409 53.42 52.1359 68.7563 40.8865 100.157C30.1086 130.273 59.8069 169.684 89.0337 160.667C56.8713 173.004 25.4803 195.73 18.9449 229.273C12.131 264.123 49.736 304.113 81.3413 287.855C51.9001 310.795 21.2591 335.235 6.77424 369.634L6.77424 369.656Z' fill='%23B1BD57' /%3E%3C/svg%3E") no-repeat center / contain;
    }
}


@media (max-width: 480px) {
    .shops-section {
        &__callout {
            top: -5rem;
            right: -8.5rem;
            width: 17rem;
            height: 13.4283rem;
            transform: rotate(74deg);
        }
    } 
}





// ======================================
// .get-section
// ======================================
.get-section {
    &__container {
        @media (min-width: 481px) {
            padding-bottom: 2rem !important;
        }
        display: flex;
        align-items: flex-end;
        gap: 11.5rem;
    }
    &__content {
       display: flex; 
       flex-direction: column;
    }
    &__title {
        max-width: 34rem;
    }
    &__custom-form {
        max-width: 21.35rem;
    }
    &__image {
        flex-shrink: 0;
        width: 17.65rem;
        height: 25rem;
        margin-bottom: -4rem;
    }
    .section__container {
        &::after {
            bottom: -13.5rem;
            right: -15rem;
            width: 43.25rem;
            height: 34.2rem;
            transform: rotate(150deg);
        }
    }

    &--center {
        .section__container {
            align-items: center;
            gap: 4.5rem;
        }
        .get-section__image {
            width: 27.65rem;
            margin-bottom: -2rem;
            transform: scale(1.4);
        }
    }

    &--stretch {
        .section__container {
            align-items: center;
            gap: 4rem;
        }
        .get-section__custom-form {
            max-width: 100%;
            .custom-form__text {
                font-size: 1rem;
            }
        }
        .get-section__image {
            width: 27.65rem;
            margin-bottom: 0;
            transform: scale(1.5);
        }
    }
}


@media (max-width: 768px) {
    .get-section {
        &__image {
            display: none;
        }
    }   
}


@media (max-width: 480px) {
    .get-section {
        &__title {
            max-width: 100%;
        }
        &__custom-form {
            max-width: 100%;
        }
        .section__container {
            &::after {
                bottom: -3.5rem;
                right: -8rem;
                width: 14.71421rem;
                height: 11.64284rem;
                transform: rotate(155deg);
            }
        }
    }  
}





.catalog-page {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: -4rem;
        right: -11rem;
        width: 23.85rem;
        height: 18.85rem;
        transform: rotate(45deg);
        background: url("data:image/svg+xml,%3Csvg width='477' height='377' viewBox='0 0 477 377' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M4.52615 246.993C-5.1522 269.963 0.531704 301.464 23.1098 312.04C30.5403 315.518 38.9158 316.42 47.1195 316.391C77.4717 316.291 107.165 303.095 128.741 281.857C123.301 295.524 120.609 310.294 121.182 324.992C121.726 338.803 126.05 353.988 137.976 360.986C143.917 364.479 151.004 365.437 157.891 365.695C211.251 367.713 263.007 326.839 273.387 274.486C273.258 296.011 273.244 318.18 281.29 338.159C289.336 358.138 307.49 375.627 329.023 376.143C354.622 376.744 375.582 353.015 380.808 327.969C384.845 308.677 381.839 288.927 377.171 269.577C387.795 286.265 414.697 293.95 432.078 281.842C454.684 266.085 455.915 229.919 438.663 208.423C403.028 164.042 368.281 196.258 406.622 129.579C425.663 96.4615 447.64 23.3569 476.188 1.38496e-05C420.867 45.2825 369.784 95.7603 323.869 150.546C322.308 127.618 320.576 104.032 310.454 83.3949C300.346 62.7573 279.672 45.5545 256.707 46.6565C224.379 48.2022 204.522 82.2929 194.084 112.906C179.252 66.0204 130.574 32.173 81.4376 34.5917C59.1602 35.6937 34.8354 45.9409 27.319 66.922C20.1175 87.0444 39.961 113.378 59.4895 107.353C37.9995 115.596 17.025 130.781 12.6582 153.194C8.10541 176.479 33.2319 203.199 54.3496 192.336C34.6779 207.664 14.2045 223.994 4.52615 246.979L4.52615 246.993Z' fill='%23B1BD57' /%3E%3C/svg%3E") no-repeat center / contain;
    }
}

@media (max-width: 480px) {
    .catalog-page {
        &::before {
            top: -6.2rem;
            right: -7rem;
            width: 13.4rem;
            height: 10.6rem;
            transform: rotate(45deg);
        }
    }   
}





.product-page {
    // position: relative;
    // &::before, &::after {
    //     content: '';
    //     position: absolute;
    //     background: url("data:image/svg+xml,%3Csvg width='477' height='377' viewBox='0 0 477 377' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath opacity='0.2' d='M4.52615 246.993C-5.1522 269.963 0.531704 301.464 23.1098 312.04C30.5403 315.518 38.9158 316.42 47.1195 316.391C77.4717 316.291 107.165 303.095 128.741 281.857C123.301 295.524 120.609 310.294 121.182 324.992C121.726 338.803 126.05 353.988 137.976 360.987C143.917 364.479 151.004 365.437 157.891 365.695C211.251 367.713 263.007 326.839 273.387 274.486C273.258 296.011 273.244 318.18 281.29 338.159C289.336 358.138 307.49 375.627 329.023 376.143C354.622 376.744 375.582 353.015 380.808 327.969C384.845 308.677 381.839 288.927 377.171 269.577C387.795 286.265 414.697 293.95 432.078 281.842C454.684 266.085 455.915 229.919 438.663 208.423C403.028 164.042 368.281 196.258 406.622 129.579C425.663 96.4616 447.64 23.3569 476.188 2.91084e-05C420.867 45.2826 369.784 95.7603 323.869 150.546C322.308 127.618 320.576 104.032 310.454 83.3949C300.346 62.7573 279.672 45.5545 256.707 46.6565C224.379 48.2022 204.522 82.2929 194.084 112.906C179.252 66.0204 130.574 32.173 81.4376 34.5917C59.1602 35.6937 34.8354 45.9409 27.319 66.922C20.1175 87.0444 39.961 113.378 59.4895 107.353C37.9995 115.596 17.025 130.781 12.6582 153.194C8.10541 176.479 33.2319 203.199 54.3496 192.336C34.6779 207.664 14.2045 223.994 4.52615 246.979L4.52615 246.993Z' fill='%23B1BD57' /%3E%3C/svg%3E") no-repeat center / contain;
    //     pointer-events: none;
    // }
    // &::before {
    //     top: -1rem;
    //     right: -15.5rem;
    //     width: 23.85rem;
    //     height: 18.85rem;
    //     transform: rotate(76deg);
    // }
    // &::after {
        
    // }
}





@media (max-width: 768px) {
    .about-section {
        &__content-media {
            position: relative;
        }
        &__title {
            max-width: 50%;
        }
        &__media {
            pointer-events: none;
            position: absolute;
            top: -6.5rem;
            right: -4rem;
            width: 60%;
            height: 100%;
        }
    }
}

@media (max-width: 480px) {
    .about-section {
        &__title {
            max-width: 16.7857rem;
        }
        &__media {
            top: -5.5rem;
            right: -5.5rem;
            width: 65%;
        }
    }
}