%contain-media {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

%cover-media {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%proportional-media {
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    @extend %cover-media;
  }
}

%flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%absolute-fullsize {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%underline {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0.05rem;
    background: #fff;
    transition: 0.2s all;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

%custom-scrollbar {
  &::-webkit-scrollbar {
    width: 0.20833rem;
  }
  &::-webkit-scrollbar-track {
    border-radius: 0.20833rem;
    background: #F1F1F1;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 0.20833rem;
    background: black;
  }
}