.cards {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__tabs {
        display: flex;
        overflow: auto;
    }
    &__tab {
        min-width: 13.75rem;
        &--active {
            pointer-events: none;
        }
        &:not(&--active) {
            background: #fff;
            border-color: rgba(#144534, 30%);
            color: $secondaryColor;
            &:hover {
                background: $darkenPrimaryColor;
                border-color: $darkenPrimaryColor;
                color: #fff;
            }
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &:not(:first-child) {
            margin-left: -0.6rem;
        }
    }
    &__links {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
    }
    &__link {
        background: transparent;
        border-color: $primaryColor;
        color: $primaryColor;
        &:hover {
            background: $primaryColor;
            border-color: $primaryColor;
            color: #fff;
        }
    }
    &__items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
    }
    &__item {
        display: flex;
        flex-direction: column;
        &-image {
            border: 0.05rem solid rgba(#144534, 30%);
            border-radius: 1rem;
            overflow: hidden;
            position: relative;
            padding-bottom: 111.112%;
            img {
                @extend %absolute-center;
                width: 64.65%;
                height: 76%;
                object-fit: contain;
            }
        }
        a.cards__item-image {
            transition: 0.2s all;
            img {
                transition: inherit;
            }
            &:hover {
                img {
                    transform: translate(-50%, -50%) scale(1.05);
                }
            }
        }
        &-header {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 1rem;
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
        &-time {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            font-size: 0.8rem;
            opacity: 0.7;
            white-space: nowrap;
            &::before {
                content: '';
                width: 0.95rem;
                height: 0.95rem;
                background: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath d='M9.5 17.8125C7.85595 17.8125 6.24881 17.325 4.88183 16.4116C3.51484 15.4982 2.44941 14.2 1.82026 12.6811C1.1911 11.1621 1.02649 9.49078 1.34723 7.87832C1.66797 6.26585 2.45965 4.7847 3.62218 3.62218C4.7847 2.45965 6.26585 1.66797 7.87832 1.34723C9.49078 1.02649 11.1621 1.1911 12.6811 1.82026C14.2 2.44941 15.4982 3.51484 16.4116 4.88183C17.325 6.24881 17.8125 7.85595 17.8125 9.5C17.8125 11.7046 16.9367 13.8189 15.3778 15.3778C13.8189 16.9367 11.7046 17.8125 9.5 17.8125ZM9.5 2.375C8.09081 2.375 6.71327 2.79288 5.54157 3.57578C4.36987 4.35869 3.45664 5.47146 2.91736 6.77338C2.37809 8.07531 2.23699 9.50791 2.51191 10.89C2.78683 12.2721 3.46542 13.5417 4.46187 14.5381C5.45832 15.5346 6.72787 16.2132 8.10999 16.4881C9.4921 16.763 10.9247 16.6219 12.2266 16.0826C13.5285 15.5434 14.6413 14.6301 15.4242 13.4584C16.2071 12.2867 16.625 10.9092 16.625 9.5C16.625 7.61034 15.8743 5.79806 14.5381 4.46187C13.2019 3.12567 11.3897 2.375 9.5 2.375Z' fill='black' /%3E%3Cpath d='M12.6441 12.6437C12.4128 12.875 12.0378 12.875 11.8065 12.6437L9.42072 10.2579C9.09131 9.9285 8.90625 9.48172 8.90625 9.01587V4.75C8.90625 4.42208 9.17208 4.15625 9.5 4.15625C9.82792 4.15625 10.0938 4.42208 10.0938 4.75V9.25063L12.6445 11.8065C12.8754 12.0379 12.8753 12.4126 12.6441 12.6437Z' fill='black' /%3E%3C/g%3E%3C/svg%3E") no-repeat center / contain;
            }
        }
        &-title {
            font-family: 'Intro Head R Base', sans-serif;
            font-size: 1.6rem;
            font-weight: bold;
            line-height: 120%;
            color: $secondaryColor;
            text-transform: uppercase;
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }
        a.cards__item-title {
            transition: 0.2s all;
            &:hover {
                color: $primaryColor;
            }
        }
        &-excerpt {
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            &:not(:first-child) {
                margin-top: 0.5rem;
            }
        }
        &-additional {
            &:not(:first-child) {
                margin-top: 0.5rem;
            }
        }
        &-btn {
            width: 100%;
            padding: 0.6rem 0.5rem;
            border-radius: 0.75rem;
            font-size: 1rem;
            &:not(:first-child) {
                margin-top: 1rem;
            }
        }

        &--hidden {
            display: none;
        }
    }
    &__btn {
        margin: 0 auto;
        margin-top: 1rem;
    }
    &__pagination {
        margin: 0 auto;
        &:not(:first-child) {
            margin-top: 1.5rem;
        }
    }

    &--blog {
        .cards__items {
            grid-template-columns: repeat(3, 1fr);
            row-gap: 2rem;
        }
        .cards__item {
            &-image {
                border: none;
                padding-bottom: 70.4%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}



@media (max-width: 768px) {
    .cards {
        &__tab {
            min-width: 9rem;
            font-size: 1rem;
        }
        &__items {
            grid-template-columns: repeat(2, 1fr);
        }

        &--blog {
            .cards__items {
                grid-template-columns: repeat(2, 1fr);
            }
            .cards__item {
                @media (min-width: 481px) {
                    &:last-child:nth-child(odd) {
                        transform: translateX(calc(50% + 0.5rem));
                    }
                }
            }
        }
    }
}



@media (max-width: 480px) {
    .cards {
        gap: 1.0714rem;
        &__tab {
            min-width: 0;
            width: 100%;
            border-radius: 0.7143rem;
            font-size: 1.14283rem;
        }
        &__links {
            gap: 1.07142rem;
        }
        &__link {
            padding: 0.7142rem 1.4285rem;
            border-radius: 0.7142rem;
            font-size: 0.8571rem;
        }
        &__items {
            gap: 1.07141rem;
        }
        &__item {
            &-image {
                border-width: 0.07144rem;
                border-radius: 1.07141rem;
                padding-bottom: 112.2%;
            }
            &-header {
                flex-direction: column-reverse;
                gap: 0.45rem;
                &:not(:first-child) {
                    margin-top: 0.7857rem;
                }
            }
            &-title {
                font-size: 1.4289rem;
                &:not(:first-child) {
                    margin-top: 0.7857rem;
                }
            }
            &-excerpt {
                &:not(:first-child) {
                    margin-top: 0.7143rem;
                }
            }
            &-additional {
                &:not(:first-child) {
                    margin-top: 0.7143rem;
                }
            }
            &-btn {
                padding: 0.71423rem 1.42859rem;
                border-radius: 0.71423rem;
                &:not(:first-child) {
                    margin-top: 1.0711rem;
                }
            }
        }
        &__btn {
            width: 100%;
            margin-top: 0.7rem;
        }
        &__pagination {
            &:not(:first-child) {
                margin-top: 0.5rem;
            }
        }

        &--blog {
            .cards__items {
                grid-template-columns: 1fr;
            }
            .cards__item {
                
            }
        }
    }   
}