.quiz {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &__tabs {
        display: flex;
        gap: 1rem;
        overflow: auto;
    }
    &__tab {
        width: 10.2rem;
        height: 0.25rem;
        background: $primaryColor;
        border-radius: 0.5rem;
        opacity: 0.3;
        transition: 0.2s all;
        &:hover {
            opacity: 0.6;
        }
        &--active {
            opacity: 1;
            pointer-events: none;
        }
    }
    &__item {
        &-group {
            display: flex;
            flex-direction: column;
            &-title {
                font-size: 1.2rem;
                font-weight: bold;
                color: $secondaryColor;
                &:not(:last-child) {
                    margin-bottom: 1.5rem;
                }
            }
            &-row {
                display: flex;
                align-items: center;
                gap: 1rem;
            }
            
        }
    }
}