// wrapper - необходим для того, чтобы прижать подвал к низу сайта
html, body, .wrapper {
  // height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.footer {
  margin-top: auto;
}