<div class="cards">
    <div class="cards__tabs">
        <button class="cards__tab btn" data-cards-group="1">Для собак</button>
        <button class="cards__tab btn" data-cards-group="2">Для кошек</button>
    </div>
    <div class="cards__items">
        <div class="cards__item" data-cards-group="1">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Мясное ассорти</a>
            <p class="cards__item-excerpt">Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
        <div class="cards__item" data-cards-group="1">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Мясное ассорти</a>
            <p class="cards__item-excerpt">Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
        <div class="cards__item" data-cards-group="1">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Мясное ассорти</a>
            <p class="cards__item-excerpt">Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
        <div class="cards__item" data-cards-group="1">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Мясное ассорти</a>
            <p class="cards__item-excerpt">Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
        <div class="cards__item" data-cards-group="2">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Для собак ассорти</a>
            <p class="cards__item-excerpt">Для собак Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
        <div class="cards__item" data-cards-group="2">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Для собак ассорти</a>
            <p class="cards__item-excerpt">Для собак Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
    </div>
</div>