<div class="cards">
    <div class="cards__items">
        <div class="cards__item">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Мясное ассорти</a>
            <p class="cards__item-excerpt">Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
        <div class="cards__item">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Мясное ассорти</a>
            <p class="cards__item-excerpt">Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
        <div class="cards__item">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Мясное ассорти</a>
            <p class="cards__item-excerpt">Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
        <div class="cards__item">
            <a class="cards__item-image" href="#">
                <img src="public/images/preview-product.jpg" alt="">
            </a>
            <a class="cards__item-title" href="#">Мясное ассорти</a>
            <p class="cards__item-excerpt">Сухой корм премиум-класса SIRIUS для взрослых собак</p>
            <span class="cards__item-additional">2 кг, 15 кг</span>
            <a class="cards__item-btn btn" href="#">Подробнее</a>
        </div>
    </div>
</div>