<div class="faq">
    <div class="faq__items">
        <div class="faq__item">
            <div class="faq__item-question">Можно ли смешивать корма?</div>
            <div class="faq__item-answer">
                <div class="faq__item-answer-inner">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio aut beatae accusantium molestias quaerat eos, tempore esse id fugiat possimus perferendis aperiam ratione, dicta sit expedita adipisci architecto? Libero.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio aut beatae accusantium molestias quaerat eos, tempore esse id fugiat possimus perferendis aperiam ratione, dicta sit expedita adipisci architecto? Libero.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio aut beatae accusantium molestias quaerat eos, tempore esse id fugiat possimus perferendis aperiam ratione, dicta sit expedita adipisci architecto? Libero.</p>
                </div>
            </div>
        </div>
        <div class="faq__item">
            <div class="faq__item-question">Как перевести питомца?</div>
            <div class="faq__item-answer">
                <div class="faq__item-answer-inner">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio aut beatae accusantium molestias quaerat eos, tempore esse id fugiat possimus perferendis aperiam ratione, dicta sit expedita adipisci architecto? Libero.</p>
                </div>
            </div>
        </div>
        <div class="faq__item">
            <div class="faq__item-question">Сколько нужно давать корма?</div>
            <div class="faq__item-answer">
                <div class="faq__item-answer-inner">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio aut beatae accusantium molestias quaerat eos, tempore esse id fugiat possimus perferendis aperiam ratione, dicta sit expedita adipisci architecto? Libero.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, odio aut beatae accusantium molestias quaerat eos, tempore esse id fugiat possimus perferendis aperiam ratione, dicta sit expedita adipisci architecto? Libero.</p>
                </div>
            </div>
        </div>
    </div>
</div>