
        <footer class="footer">
            <div class="footer__container container">
                <div class="footer__callout-bg">
                    <div class="footer__callout-bg-item"></div>
                    <div class="footer__callout-bg-item"></div>
                    <div class="footer__callout-bg-item"></div>
                </div>
                <div class="footer__header">
                    <a class="footer__logo logo" href="/">
                        <img src="/images/common/logo.svg" alt="Наш рацион">
                    </a>
                    <button class="footer__up-btn up-btn">Наверх</button>
                </div>
                <div class="footer__columns">
                    <div class="footer__column">
                        <strong class="footer__column-title">О нас</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Наша философия</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Технологии и качество</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">История бренда</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Сертификаты и производство</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Каталог</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Корм для кошек</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Корм для собак</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Подобрать корм</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Скачать каталог</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Где купить</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Купить на маркетплейсах</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Интернет-магазины</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Найти магазин на карте</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Польза</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Вопрос-Ответ</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Статьи</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Контакты</strong>
                        <div class="footer__contacts">
                            <span class="footer__contact" data-feedback>Связаться с нами</span>
                            <a class="footer__contact" href="tel:+70000000000">+7 (000) 000-00-00</a>
                            <address class="footer__contact">
                                <a href="https://yandex.by/maps/-/CPgDRAoE" target="_blank">г. Москва, ул. Пушкина</a>
                            </address>
                            <div class="socials">
                                <a class="socials__item" href="#" target="_blank">
                                    <img src="public/images/socials/vk-logo.svg" alt="">
                                </a>
                                <a class="socials__item" href="#" target="_blank">
                                    <img src="public/images/socials/tg-logo.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Для партнеров</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Дистрибьюторам</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Заводчикам и питомникам</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer__links">
                    <a class="footer__link" href="#">Политика конфиденциальности</a>
                    <a class="footer__link" href="#">Оферта</a>
                </div>
            </div>
        </footer>
        <!-- /footer -->

    </div>
    <!-- /wrapper -->

    <script type="module" src="src/js/main.js"></script>
    
</body>
</html>