
        <footer class="footer">
            <div class="footer__container container">
                <div class="footer__callout-bg">
                    <div class="footer__callout-bg-item"></div>
                    <div class="footer__callout-bg-item"></div>
                    <div class="footer__callout-bg-item"></div>
                </div>
                <div class="footer__header">
                    <a class="footer__logo logo" href="/">
                        <img src="/images/common/logo.svg" alt="Наш рацион">
                    </a>
                    <button class="footer__up-btn up-btn">Наверх</button>
                </div>
                <div class="footer__columns">
                    <div class="footer__column">
                        <strong class="footer__column-title">О нас</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/about.html">Наша философия</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/about.html">Технологии и качество</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/about.html">История бренда</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/about.html">Сертификаты и производство</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Каталог</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/catalog.html">Корм для кошек</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/catalog.html">Корм для собак</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/catalog.html">Подобрать корм</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/catalog.html">Скачать каталог</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Где купить</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/where-buy.html">Купить на маркетплейсах</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/where-buy.html">Интернет-магазины</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/where-buy.html">Найти магазин на карте</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Польза</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/faq.html">Вопрос-Ответ</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="/blog.html">Статьи</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Контакты</strong>
                        <div class="footer__contacts">
                            <a class="footer__contact" href="/contacts.html">Связаться с нами</a>
                            <a class="footer__contact" href="tel:+70000000000">+7 (000) 000-00-00</a>
                            <address class="footer__contact">
                                <a href="https://yandex.by/maps/-/CPgDRAoE" target="_blank">г. Москва, ул. Пушкина</a>
                            </address>
                            <div class="socials">
                                <a class="socials__item" href="#" target="_blank">
                                    <img src="public/images/socials/vk-logo.svg" alt="">
                                </a>
                                <a class="socials__item" href="#" target="_blank">
                                    <img src="public/images/socials/tg-logo.svg" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <strong class="footer__column-title">Для партнеров</strong>
                        <nav class="footer__nav">
                            <ul class="footer__nav-list">
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Дистрибьюторам</a>
                                </li>
                                <li class="footer__nav-item">
                                    <a class="footer__nav-link" href="#">Заводчикам и питомникам</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="footer__links">
                    <a class="footer__link" href="#">Политика конфиденциальности</a>
                    <a class="footer__link" href="#">Оферта</a>
                </div>
            </div>
        </footer>
        <!-- /footer -->

    </div>
    <!-- /wrapper -->

    <div class="feedback-popup">
        <div class="feedback-popup__container">
            <div class="feedback-popup__body">
                <div class="feedback-popup__title title">свяжитесь с нами</div>
                <form class="feedback-popup__form custom-form">
                    <div class="custom-form__inputs">
                        <input class="custom-form__input" type="text" name="fullname" required placeholder="ФИО">
                        <input class="custom-form__input" type="text" name="region" required placeholder="Регион">
                        <input class="custom-form__input" type="Email" name="email" required placeholder="Электронная почта">
                        <input class="custom-form__input" type="tel" name="phone" required placeholder="Телефон">
                        <textarea class="custom-form__input" name="message" placeholder="Комментарий" rows="5"></textarea>
                        <div class="custom-radio custom-radio--white">
                            <label class="custom-radio__item">
                                <input type="radio" checked="checked" name="feedback-type" value="email">
                                <img src="public/images/icons/email-icon.svg" alt="email">
                                <span>Электронная почта</span>
                            </label>
                            <label class="custom-radio__item">
                                <input type="radio" name="feedback-type" value="phone">
                                <img src="public/images/icons/phone-icon.svg" alt="phone">
                                <span>Телефон</span>
                            </label>
                        </div>
                        <div class="custom-upload">
                            <span class="custom-upload__btn btn btn--white">Выберите файл</span>
                            <span class="custom-upload__label"></span>
                            <span class="custom-upload__del">Удалить</span>
                            <input type="file" name="file" placeholder="Прикрепить файл">
                        </div>
                    </div>
                    <label class="custom-checkbox custom-checkbox--white">
                        <input type="checkbox" name="agree" required>
                        Нажимая кнопку «Отправить», я даю свое согласие на обработку моих персональных данных, в соответствии с Федеральным законом от 27.07.2006 года №152-ФЗ «О персональных данных», на условиях и для целей, определенных в <a href="#" target="_blank">Согласии на обработку персональных данных</a> *
                    </label>
                    <button class="custom-form__submit btn btn--white" type="submit">Отправить форму</button>
                </form>
                <button class="feedback-popup__close"></button>
            </div>
        </div>
    </div>

    <script type="module" src="src/js/main.js"></script>
    
</body>
</html>