<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Наш Рацион</title>
</head>
<body>

    <div class="wrapper">

        <header class="header header--static">
            <div class="header__container container">
                <a class="header__logo logo" href="/">
                    <load ="../components/logo.html"/>
                </a>
                <div class="header__mobile-inner">
                    <nav class="header__nav">
                        <ul class="header__nav-list">
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="/about.html">О нас</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="/catalog.html">Каталог</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="/where-buy.html">Где купить</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="#">Польза</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="/contacts.html">Контакты</a>
                            </li>
                            <li class="header__nav-item">
                                <a class="header__nav-link" href="#">Для партнеров</a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header__contacts">
                        <div class="header__socials socials">
                            <a class="socials__item" href="#">
                                <img src="public/images/socials/vk-logo.svg" alt="vk">
                            </a>
                            <a class="socials__item" href="#">
                                <img src="public/images/socials/tg-logo.svg" alt="tg">
                            </a>
                        </div>
                        <a class="header__phone" href="tel:+70000000000">+7 (000) 000-00-00</a>
                    </div>
                </div>
                <div class="header__search search">
                    <button class="search__button"></button>
                </div>
                <button class="header__burger-btn"></button>
            </div>
        </header>
        <!-- /header -->
         