<div class="shops">
    <div class="shops__text">
        <p><b>Онлайн</b></p>    
    </div>
    <div class="shops__items">
        <div class="shops__item">
            <a class="shops__item-image" href="#" target="_blank">
                <img src="public/images/logos/ozon-logo.svg" alt="">
            </a>
            <a class="shops__item-btn btn" href="#">Купить сейчас</a>
        </div>
        <div class="shops__item">
            <a class="shops__item-image" href="#" target="_blank">
                <img src="public/images/logos/wb-logo.svg" alt="">
            </a>
            <a class="shops__item-btn btn" href="#">Купить сейчас</a>
        </div>
        <div class="shops__item">
            <a class="shops__item-image" href="#" target="_blank">
                <img src="public/images/logos/ya_market-logo.svg" alt="">
            </a>
            <a class="shops__item-btn btn" href="#">Купить сейчас</a>
        </div>
    </div>
</div>